html,
body {
  height: 100%;
  background: linear-gradient(black, white);
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
}
.slider-container {
  max-width: 80%;
  height: 100%;
  margin: 20px auto 5px auto;
  position: center;
  background-color: gainsboro;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  border: 5px solid white;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.slider-wrapper {
  display: block;
}
