.App {
  align-content: center;
  justify-content: center;
}
.Select {
  position: absolute;
  background: rgba(30, 30, 30, 0.98);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Kalam", sans-serif;
  font-size: 500%;
  color: red;
  text-align: center;
}
.Select .GameMode {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.Select .box {
  background: black;
  width: 150px;
  height: 145px;
  margin: 5px;
  color: White;
  font-family: "Kalam", cursive;
  text-align: center;
  justify-content: center;
  font-size: 120%;
  cursor: pointer;
}

.Select .box:hover {
  color: green;
}
